contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.0
kiwisolver==1.4.4
matplotlib==3.7.2
numpy==1.25.2
packaging==23.1
Pillow==10.0.0
pyModbusTCP==0.2.0
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.2
six==1.16.0
#-e git+https://github.com/AlexanderPollak/Solar-Control-Program.git@3493c7485f996ee41ffc3dc7ce5b28118adb7715#egg=Solar_Control_Program
